*{
    margin: 0;
    padding: 0;
   
}
    .navbar{
        height: 72px;
        // width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #F9F9F9;
        // position: fixed;
        width: 100%;
        // z-index: 1000;
        
        position: relative;
    
   
      
        .toggle{
            display: none;
            @media screen and (max-width:670px) {
               
                      display: block;
                      margin-right: 30px;
            }
            @media screen and (max-width:380px) {
               cursor: pointer;
                display: block;
                margin-right: 30px;
      }
        }

       
        a{
            text-decoration: none;
            color: black;
            font-size: 17px;
        }
        a:hover{
            color:#FD8802;
        }
        
        #button1{
            background-color: #FD8802;
        
        
            padding: 10px 40px;
            margin: 35px;
            border: none;
            border-radius: 15px;
            position: relative;
            @media screen and (max-width:380px) {
                padding: 8px 12px;
            
    }
           
           
        }
        #abutton{
            color: rgb(7, 7, 7);
            font-size: 15px;
        }
        #button1:hover{
            background-color: rgb(160, 122, 86); 
        }
      
        &__logo{
            img{
                
                height: 70px;
                margin: 35px;
                @media screen and (max-width:380px) {
                    height: 49px;
                
        }
            }
            
        
            
        }
        
        &__href{
            margin-top: 10px;
            
            
        }
        &__nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 45%;
            font-size: 17px;
          
            
            @media screen and (max-width:670px) {
                top: 100%;
                position: absolute;
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #dfdfdf;
                left: -100%;
                z-index: 1;
                
               
      }
   
      
      .a-href{
        @media screen and (max-width:670px) {
            text-decoration: none;
            color: black;
            font-size: 17px;
            border-bottom: 1px solid;
            width: 100%;
            
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            
           
  }
 

      }
        
           
        }
        
    }


    .active-toggle{
        left: 0;
        transition: 0.6s;
    }

   //////////////// /////////////:Formlogin////////
    .form{
        background-image: url(/Project/images/960x0.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 538px;
        &__form1{ 
    
            width: 400px;
            height: 420px;
            color: #fff;
            top: 50%;
            left: 50%;
            padding: 60px 30px;
            position: absolute;
            transform: translate(-50%, -50%);
            box-shadow: 8px 8px 50px #140a289e;
            box-sizing: border-box;
            margin-top: 20px;

            @media screen and (max-width:380px) {
                width: 328px;
                height: 342px;
                
               
      }


            .profilelogo{
                background-image: url(/Project/images/man-300x300.png);
                background-size: 70px;
                background-position: center;
                background-repeat: no-repeat;
                height: 70px;
                margin-bottom: 5px;
            }

        h1{
            margin: 0;
            padding: 0;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 8%;
            @media screen and (max-width:380px) {
             font-size: 21px;
                
               
      }
        }
        input{
            width: 100%;
            margin-bottom: 20px;

        }
        #inputbtn{
            border: none;
            border-bottom: 1px solid #ffffff;
            background: transparent;
            outline: none;
            height: 30px;
            font-size: 16px;
            opacity: 1;
            color: #ffffff;
        }
        #inputsubmit{
            border: none;
            outline: none;
            height: 40px;
            background: #FD8802;  
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            border-radius: 8px;

        }
        #inputsubmit:hover{
            cursor: pointer;

        }
        a{
            font-size: 14px;
            text-decoration: none;
            color: #fff;
            opacity: 0.8;

        }
        a:hover{
            color: #FD8802;
            opacity: 1;
        }
        .bottom-text{
            color:#fff ;
            font-size: 14px;
            @media screen and (max-width:380px) {
               font-size: 13px;
                
               
      }


            input{
                width: 10%;
                float: left;
            }
            a{
                float: right;
            }
        }
      


   }
 }

 .alert{
    text-align: center;
    text-align: center;
    background-color: #c12020;
    border-radius: 12px;
    margin-bottom: 7px;
}





















    